<div style="background-color: #f47b14; padding: 5px; width: 600px; text-align: center;">
<div style="background: #fff; color: #000; padding: 10px; box-shadow: #1B1B1B 0px 0px 12px; border: 0px solid #A0A0A0; border-radius: 6px; margin-bottom: 10px;">
<div style="width: 100%; background: #FCFCFC;"><a href="https://muffin-master.com/"><img src="http://media.popcultcha.com.au/media/catalog/product/cache/1/small_image/160x170/fd9f0ceaf841b34d3bc421169ab1742d/e/m/emblems-batman-premium-satin-baterang.png" border="0" alt="Muffin-master" /></a></div>
<div style="padding: 10px; text-align: left;">${body}</div>
</div>
<span style="font: 15px Arial,Helvetica,sans-serif; color: #666666;"><br /><a style="color: #fff;" href="https://lenderrate.com/" target="_blank">muffin-master</a></span>
<p>If you no longer wish to receive email, please <a style="color: #fff;" href="https://muffin-master/opt_out?Email=${email}&amp;code=${code}" target="_blank">click here to unsubscribe</a></p>
</div>