<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <welcome-file-list>
    <welcome-file>Home</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>opServlet</servlet-name>
    <servlet-class>com.mvu.core.server.OpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>app</servlet-name>
    <servlet-class>com.mvu.appengine.AppEngine</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <display-name>Remote API Servlet</display-name>
    <servlet-name>RemoteApiServlet</servlet-name>
    <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>remoteLogging</servlet-name>
    <servlet-class>com.mvu.core.server.MyRemoteLoggingServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>redirectServlet</servlet-name>
    <servlet-class>com.muffin.server.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteLogging</servlet-name>
    <url-pattern>/*/remote_logging</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mailhandler</servlet-name>
    <servlet-class>com.mvu.core.MailHandlerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>bouncehandler</servlet-name>
    <servlet-class>com.mvu.appengine.server.BounceHandlerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.mvu.appengine.UploadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload/*</url-pattern>
  </servlet-mapping>
  <!--<servlet-mapping>-->
    <!--<servlet-name>mobile</servlet-name>-->
    <!--<url-pattern>/mobile</url-pattern>-->
  <!--</servlet-mapping>-->
  <servlet-mapping>
    <servlet-name>opServlet</servlet-name>
    <url-pattern>/exec/*</url-pattern>
    <url-pattern>/execute/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoteApiServlet</servlet-name>
    <url-pattern>/remote_api</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mailhandler</servlet-name>
    <url-pattern>/_ah/mail/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bouncehandler</servlet-name>
    <url-pattern>/_ah/bounce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>redirectServlet</servlet-name>
    <url-pattern>/r/*</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/root</url-pattern>
      <url-pattern>/_ah/sessioncleanup</url-pattern>
      <url-pattern>/_ah/mail/*</url-pattern>
      <url-pattern>/_ah/bounce</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>SSL</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>
